body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}


.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(219, 75, 75);
}

.titulo-principal{
text-align: center;
font-size: large;
}

.banner{
    text-align: center;
}